Flask==3.0.3
Flask-SQLAlchemy==3.1.1
gunicorn==23.0.0
openpyxl==3.1.5
pandas==2.2.3
PyJWT==2.9.0
py-healthcheck==1.10.1
psycopg2-binary==2.9.10
prometheus-client==0.21.0
python-dotenv==1.0.1
requests==2.31.0
requests-pkcs12==1.24
rk-digi==2.2.0
SQLAlchemy==2.0.33